<configuration >
	
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d %X{clientIp} 111 %-5level [%thread] %logger{n}: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>15</maxHistory>
            <fileNamePattern>${log.root.path}/${service.name}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d ${service.name} %-5level [%thread] %logger{n}: %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${log.root.level}">
    	<appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>